{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


<!-- FLASH CODE  -->
<div class = 'flash'>
          {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
<!-- FLASH CODE  -->

</div>
  <div class="row padding-top ">
    <div class="col-md-12 padding-mini">

        <a href="{{url_for('addToMyActivities',activity_id = current.id)}}">
          <form action="/heypal/{{current.id}}/addToMyActivities/" method = "POST">
            <div class="form-group">
            <button type="submit" class="btn btn-default" id="submit">
            <span class="glyphicon glyphicon-flash"></span>Add to My Activities</button>
            </div>
          </form>
        </a>

        <a href="{{url_for('editActivity',activity_id = current.id)}}">
          <button class="btn btn-default" id="edit-activity">
          <span class="glyphicon glyphicon-pencil"></span>Edit Activity
          </button>
        </a>

        <a href="{{url_for('deleteActivity',activity_id = current.id)}}">
          <button class="btn btn-default" id="delete-activity">
          <span class="glyphicon glyphicon-trash"></span>Delete Activity
          </button>
        </a>
    </div>
  </div>

<!-- Just one activity  -->
  <article class = "row">
    <div class="col-md-6">
      <h1>{{current.name}} @ {{current.location}}</h1>

        <p>Current Tags:</p>
        {% if current.tag_free == "yes"%} Free <br>{% endif %}
        {% if current.tag_sporty == "yes"%} Sporty<br>{% endif %}
        {% if current.tag_outdoor == "yes"%} Outdoors<br> {% endif %}
        {% if current.tag_special == "yes"%} Special Occasions<br> {% endif %}
        {% if current.tag_learn == "yes"%} Better Yourself<br> {% endif %}
        {% if current.tag_date_night == "yes"%} Date Night<br> {% endif %}

        <p>&nbsp;</p>
        <img src="{{current.image}}" class="img-responsive activity-clip" alt="{{current.name}} Image">
    </div>
  </article>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>


  <!-- ENDS here  -->

{% endblock %}