<div class="row top-menu">
  <div class="col-md-6">
    <a href="{{url_for('showActivities')}}">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>All Activities
    </a>

    <span>&nbsp;&nbsp;</span>

    <a href="{{url_for('openMaps')}}">
      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Map
    </a>

  </div>
  <div class="col-md-6 text-right">

      <a href="{{url_for('showMyActivitiesRedirect')}}">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>My Activities
      </a>

      <span>&nbsp;&nbsp;</span>

      <a href="{{url_for('palsRedirect')}}">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Pals
      </a>

      <span>&nbsp;&nbsp;</span>

      <a href="{{url_for('invitesRedirect')}}">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>Invites
      </a>

      <span>&nbsp;&nbsp;</span>

      {%if 'username' in session %}

      <a href="{{url_for('disconnect')}}">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>Logout
      </a>

      {% else %}

      <a href="{{url_for('showLogin')}}">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>Login
      </a>

      {% endif %}

  </div>
</div>

<div>
  <div class="row banner main img-responsive">
    <div class="col-md-6 padding-mini">
      <h1>HeyPal</h1>
    </div>
    <div class="col-md-6 padding-mini logo img-responsive">
    </div>
  </div>

  <div class="row divider orange">
    <div class="col-md-12"></div>
  </div>
</div>