<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HeyPal Google Maps API">
    <meta name="author" content="Megan Chang">
    <title> HeyPal Maps </title>

    <!-- Latest compiled and minified CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/map_styles.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/knockout.js') }}"></script>
    <script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/app.js') }}"></script>
  </head>

  <div id="map" class="my-map">
  </div>
  <!-- Search Bar -->


  <!--list view-->
  <div id="hamburger" onclick="openHeyPalBar()"> &nbsp; &#9776; HeyPal Menu
  </div>
  <div id="heyPalList" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeHeyPalBar()">&times;</a>
    <h1 class="list-header">HeyPal Adventures!</h1>
    <hr>
    <div>
      <input id="places-search" type="text" placeholder="Ex: Bottomless Mimosas" data-bind="textInput: query, valueUpdate: 'keyup'" >
      <input id="go-places" type="button" value="Go">
    </div>

    <div class="list-view" data-bind="foreach: listItem">
      <p class="list-item" data-bind="text: $data.fullName, click: $parent.listViewClick"></p>
      <hr>
    </div>
  </div>


  <!-- Opens and closes the HeyPal activities list on the side by clicking the hamburger icon
  Allows for mobile responsiveness -->

  <script type=text/javascript>
    function openHeyPalBar() {
        document.getElementById("heyPalList").style.width = "300px";
        document.getElementById("heyPalList").style.height = "100%";
    }

    function closeHeyPalBar() {
        document.getElementById("heyPalList").style.width = "0";
        document.getElementById("heyPalList").style.height = "0px";
    }

    function getLocations(locations) {
      console.log(locations);
    }

  </script>

  <script>
    var locations = [
      {id: 1, name: 'Bottomless Mimosas', location: 'Brewhouse', fullName: 'Bottomless Mimosas @ Brewhouse', lat: 34.4120404, lng: -119.69582990000004, venue_id: "4b4b96b8f964a5202ba126e3"},
      {id: 2, name: 'Beach Day', location: 'Leadbetter Beach', fullName: 'Beach Day @ Leadbetter Beach', lat: 34.40234809999999, lng: -119.69934519999998, venue_id: "4b12f540f964a5209d9123e3"},
      {id: 3, name: 'Wine Tasting', location: 'Deep Sea Tasting Room', fullName: 'Wine Tasting @ Deep Sea Tasting Room', lat: 34.4099896, lng: -119.68556949999999, venue_id: "4e220b75fa761d671082ff1b"},
      {id: 4, name: 'Appetizers', location: 'Milk and Honey', fullName: 'Appetizers @ Milk and Honey', lat: 34.42256559999999, lng: -119.70546179999997, venue_id: "4b51496af964a520d64927e3"},
      {id: 5, name: 'Dancing', location: "O'Malley's", fullName: "Dancing @ O'Malley's", lat: 34.4172957, lng: -119.6964284, venue_id: "4aad9191f964a520e36020e3"},
    ];
  </script>


  <script>
    // Creates instance of the map

    function initApp() {
    "use strict";
        initMap();
        var app = new ViewModel();
        ko.applyBindings(app);
    }

    // Opens and closes navbar for formatting purposes
    openHeyPalBar();
    //closeHeyPalBar();

    //getLocations({{locations}});

  </script>

  <script>
    function googleError() {
        alert('Google Maps could not be loaded.')
    }
  </script>

  <script type=text/javascript src="{{ url_for('static', filename='js/map.js') }}"></script>
  <script type=text/javascript async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyD0kr08XICKLriQiOgiDGUvWbp2GUpUbiQ&libraries=places&callback=initApp"></script>

</html>
