<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HeyPal Google Maps API">
    <meta name="author" content="Megan Chang">
    <title> HeyPal Maps </title>

    <!-- Latest compiled and minified CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/map_styles.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/knockout.js') }}"></script>
    <script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/app.js') }}"></script>
  </head>

  <div id="map" class="my-map">
  </div>
  <!-- Search Bar -->


  <!--list view-->
  <div id="hamburger" onclick="openHeyPalBar()"> &nbsp; &#9776; HeyPal Menu
  </div>
  <div id="heyPalList" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeHeyPalBar()">&times;</a>
    <h1 class="list-header">HeyPal Adventures!</h1>
    <hr>
    <div>
      <input id="places-search" type="text" placeholder="Ex: Bottomless Mimosas" data-bind="textInput: query, valueUpdate: 'keyup'" >
      <input id="go-places" type="button" value="Go">
    </div>

    <div class="list-view" data-bind="foreach: listItem">
      <p class="list-item" data-bind="text: $data.fullName, click: $parent.listViewClick"></p>
      <hr>
    </div>
  </div>


  <!-- Opens and closes the HeyPal activities list on the side by clicking the hamburger icon
  Allows for mobile responsiveness -->

  <script type=text/javascript>
    function openHeyPalBar() {
        document.getElementById("heyPalList").style.width = "300px";
        document.getElementById("heyPalList").style.height = "100%";
    }

    function closeHeyPalBar() {
        document.getElementById("heyPalList").style.width = "0";
        document.getElementById("heyPalList").style.height = "0px";
    }

    function getLocations(locations) {
      console.log(locations);
    }

  </script>

  <script>

    //gets the location JSON information from my python project.py file
    var locations = null;
    $.ajax({
      url: '/heypal/activities/JSON',
      async: false,
      dataType: 'json',
      success: function (data) {
        locations = data.All_Activities;
      }
    });

    console.log(locations);

  </script>


  <script>
    // Creates instance of the map

    function initApp() {
    "use strict";
        initMap();
        var app = new ViewModel();
        ko.applyBindings(app);
    }

    // Opens and closes navbar for formatting purposes
    openHeyPalBar();
    //closeHeyPalBar();

    //getLocations({{locations}});

  </script>

  <script>
    function googleError() {
        alert('Google Maps could not be loaded.')
    }
  </script>

  <script type=text/javascript src="{{ url_for('static', filename='js/map.js') }}"></script>
  <script type=text/javascript async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyD0kr08XICKLriQiOgiDGUvWbp2GUpUbiQ&libraries=places&callback=initApp"></script>

</html>
