{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<!-- FLASH CODE  -->
  <div class = 'flash'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

<!-- FLASH CODE  -->

  <div class="row padding-top padding-bottom">
    <div class="col-md-3 padding-mini">
    </div>
    <div class="col-md-6">
      <span class="text-center"><h1 class="title">Invites</h1></span>
    </div>
    <div class="col-md-3">
    </div>
  </div>

  {% for myInvite in myInvites %}

    <article class="col-md-4 btn-default">
      <a href="{{url_for('showMyInvite', invite_key=myInvite.invite_key, user_id=user_id)}}">
        <img src="{{myInvite.image}}" class="img-responsive activity-clip" alt="{{myInvite.name}} Image" >
        <h4>{{myInvite.name}} @ {{myInvite.location}}</h4>
      </a>
    </article>


  {% endfor %}

  <!-- ENDS here  -->

{% endblock %}

