{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


<!-- FLASH CODE  -->
<div class = 'flash'>
          {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
<!-- FLASH CODE  -->

</div>
  <div class="row padding-top ">
    <div class="col-md-12 padding-mini">

        <a href="{{url_for('addToMyActivities',activity_id = current.id)}}">
          <form action="/heypal/{{current.id}}/addToMyActivities/" method = "POST">
            <div class="form-group">
            <button type="submit" class="btn btn-default" id="submit">
            <span class="glyphicon glyphicon-flash"></span>Add to My Activities</button>
            </div>
          </form>
        </a>

    </div>
  </div>

<!-- Just one activity  -->
  <article class = "row">
    <div class="col-md-6">
      <h2>{{current.name}} @ {{current.location}}</h2>

        {% if current.datetime %}
        <p>Date: </p> {{current.datetime.strftime("%A, %B %d")}} <br>
        &nbsp;
        <p>Time: </p> {{current.datetime.strftime("%I:%M%p")}} <br>
        &nbsp;
        {% endif %}

        <p>Current Tags:</p>
        {% if current.tag_free == True%} Free <br>{% endif %}
        {% if current.tag_sporty == True%} Sporty<br>{% endif %}
        {% if current.tag_outdoor == True%} Outdoors<br> {% endif %}
        {% if current.tag_special == True%} Special Occasions<br> {% endif %}
        {% if current.tag_learn == True%} Better Yourself<br> {% endif %}
        {% if current.tag_date_night == True%} Date Night<br> {% endif %}
        {% if current.tag_over_21 == True%} Over 21 Only<br> {% endif %}
        {% if current.tag_after_work == True%} After Work<br> {% endif %}

        &nbsp;
        <img src="{{current.image}}" class="img-responsive" alt="{{current.name}} Image">
    </div>
  </article>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>


  <!-- ENDS here  -->

{% endblock %}